@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf);
}

html {
	font-family: Roboto;
	color: azure;
	background-color: #161616;
	overflow: hidden;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

h1 {
	margin: 0;
}

/* 
Global styling for the grid and grid elements 
*/

#grid {
	display: grid;

	width: calc(100% - 20px);
	height: calc(100% - 20px);

	padding: 10px 10px 10px 10px;

	/* two columns and ten equi-sized rows */
	grid-template-columns: 70% 30%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.gridElement {
	position: relative;
	background-color: #1b1b1b;

	width: calc(100% - 20px);
	height: calc(100% - 20px);

	border-radius: 25px;

	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}

.gridElement h1 {
	position: absolute;
	color: #ffffff44;
	font-size: 20px;
	left: 20px;
	top: 20px;

	pointer-events: none;
	user-select: none;
}

.plot {
	position: absolute;
	width: 100%;
	height: 100%;
}

.plot text {
	user-select: none;
	pointer-events: none;
}
