@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf);
}

html {
	font-family: Roboto;
	color: azure;
	background-color: #f2f2f2;
}

body {
	margin: auto;
	height: 100vh;
	max-width: 120em; /* cap width at 1080p */

	overflow: hidden;
}

h1 {
	margin: 0;
}

/*
Global styling for the grid and grid elements
*/

#grid {
	display: grid;

	width: calc(100% - 20px);
	height: calc(100% - 20px);

	padding: 10px 10px 10px 10px;

	/* two columns and ten equi-sized rows */
	grid-template-columns: 70% 30%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.gridElement {
	position: relative;
	background-color: #ffffff;

	width: calc(100% - 20px);
	height: calc(100% - 20px);

	border-radius: 25px;

	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}

.gridElement h1 {
	position: absolute;
	color: #ffffff44;
	font-size: 20px;
	left: 20px;
	top: 20px;

	pointer-events: none;
	user-select: none;
}

.plot {
	position: absolute;
	width: 100%;
	height: 100%;
}

.plot text {
	user-select: none;
	pointer-events: none;
}

/* Loading screen */

#loading {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0);
	z-index: 2;
}

#loading h1 {
	margin: 2em;
}

/* X-ROTATING BOXES */

.configure-border-1 {
	width: 115px;
	height: 115px;
	padding: 3px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fb5b53;
	animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
	width: 115px;
	height: 115px;
	padding: 3px;
	left: -115px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(63, 249, 220);
	transform: rotate(45deg);
	animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
	width: 100%;
	height: 100%;
	background-color: #1d2630;
}

@keyframes configure-clockwise {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes configure-xclockwise {
	0% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-135deg);
	}
	75% {
		transform: rotate(-225deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

/* trigger modal button */
#trigger-container {
	overflow: hidden;
	position: fixed;
	top: -3em;
	width: 100%;
	margin: 0;
	padding: 0;

	/* center content */
	display: flex;
	justify-content: center;
}

#triggerHelp {
	color: white;
	background-color: #00355d;
	z-index: 1;
	border: none;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	height: 6em;
	display: flex;
}

#triggerHelp span {
	align-self: flex-end;
	padding: 1em;
}

#triggerHelp:hover {
	background-color: #fdae6b;
	cursor: pointer;
}

/* Help modal */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	padding-top: 6em;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* The Close Button */
.close {
	float: right;
	font-size: 42px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #fdae6b;
	text-decoration: none;
	cursor: pointer;
}

/* Modal Header */
.modal-header {
	padding: 2px 16px;
	background-color: #00355d;
	color: white;
}

/* Modal Body */
.modal-body {
	padding: 2em;
}

/* Modal Footer */
.modal-footer {
	background-color: #00355d;
	color: white;

	display: flex;
	justify-content: center;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* modal nav */
.modal-nav {
	overflow: hidden;
}

.modal-nav .tab {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
}

/* Change the color of links on hover */
.modal-nav .tab:hover {
	background-color: #fdae6b;
	color: black;
	cursor: pointer;
}

/* Add a color to the active/current link */
.modal-nav .tab.active {
	background-color: #e6550d;
	color: white;
}

/* hide by default */
.tab-content {
	display: none;
}

/* show content of selected tab */
.tab-content.active {
	display: block;
}
