@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

html {
  font-family: Roboto;
  color: azure;
  background-color: #121212;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 0;
}

/* 
Global styling for the grid and grid elements 
*/

#grid {
  display: grid;
  width: 100%;
  height: 100%;

  /* two columns and ten equi-sized rows */
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.gridElement {
  position: relative;
}

.gridElement h1 {
  position: absolute;
  color: #ffffff44;
  font-size: 20px;
}

.plot {
  position: absolute;
  width: 100%;
  height: 100%;
}
