#country-details {
	grid-area: 1 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#country-details h2 {
	margin: 0;
	font-size: 1.5vw;
	padding-top: 0.1em;
	font-weight: bold;

	/* shorten text if too long*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#country-details .country-details-right h3 {
	margin: 0;
	font-size: 1.8vh;
	font-weight: normal;

	height: 33%;
	vertical-align: middle;

	/* shorten text if too long*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#country-details .country-details-left h3 {
	margin: 0;
	margin-top: 11.5%;
	font-size: 2vh;
	font-weight: normal;

	/* shorten text if too long*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#country-details .sub {
	font-size: 1.2vh;
}

.country-detail {
	color: #e6550d;
}

.country-details-right {
	position: absolute;
	left: 55%;
	top: 5%;
	bottom: 5%;
}

.country-details-left {
	position: absolute;
	left: 30px;
	top: 5%;
	bottom: 5%;
}
