#factor-selection {
	grid-area: 3 / 2 / 5 / 3;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	/* use scrolling if necessary, but don't show a horizontal scrollbar */
	overflow: auto;
}

.factor {
	color: black;
	border-radius: 10px;
	background-color: #ababab;
	width: 40%;
	height: 2vh;
	text-align: center;
	padding: 0.4em;
	margin: 0.1em;

	/* align text in center */
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.factor p {
	padding: 0;
	margin: 0;
	font-size: 1em;
}

.factor:hover {
	background-color: #bcbcbc;
	cursor: pointer;
}

.factor.checked {
	background-color: #636363;
	color: white;
}

/* cap factor size for small screens */
@media only screen and (max-width: 120em) {
	.factor {
		max-height: 1em;
	}
}
