#lineChart {
	grid-area: 8 / 1 / 12 / 2;
	position: relative;
}

#covid-data-toogle-container {
	position: absolute;
	top: 70px;
	left: 40px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
}

#covid-data-toogle-container .covid-data-toogle {
	padding: 0.4em;
	width: 7em;
	margin-top: 5px;
	text-align: center;
	background-color: #d1d1d1;
	font-size: 1.2vh;
	color: #525252;
	border-radius: 8px;
}

/*
#covid-data-toogle-container .covid-data-toogle.top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#covid-data-toogle-container .covid-data-toogle.bottom {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
*/

#covid-data-toogle-container .covid-data-toogle.checked {
	background-color: #636363;
	color: white;
}

#covid-data-toogle-container .covid-data-toogle.checked:hover {
	background-color: #636363;
	color: white;
}

#covid-data-toogle-container .covid-data-toogle:hover {
	cursor: pointer;
	background-color: #f2f2f2;
}
